
@font-face {
    font-family: 'zaslineregular';
    src: url('zasline-webfont.woff2') format('woff2'),
         url('zasline-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
	box-sizing: border-box;
}

body {
	background-image: url('./wallpaper.jpg');
	display: flex;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	height: 100vh;
	margin: 50px;
}

h1 {
    font-family: 'zaslineregular';
	font-weight: 600;
	margin: 12px;
}

table{  
    border-radius:10px;
    background-color: whitesmoke;
}