<!DOCTYPE html>
<html lang="en-UK">
    
    <head>
        <meta charset="UTF-8"/>

        <title>
            {%block title%}{%endblock%}
        </title>
           

        {%block meta%}{%endblock%}

     
        {%block homepage_css%}{# Link to homepage stylesheet #}{%endblock%}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {%block signin_css%}{%endblock%}

        {%block payment_css%}{%endblock%}
     
       
    </head>
    <body>
        {%block main_Payments%}{%endblock%}
        
            {%block main_Signin%}{%endblock%}

        {%block main_Homepage%}{%endblock%}
    </body>
    <script src="./static/swapping.js"></script>
</html>