{%extends 'base.html'%}

{%block title%}Home page{%endblock%}

{%block homepag_css%}
<link rel="stylesheet" href="./static/Home page.css">
{%endblock%}

{%block main_Homepage%}
<h1>Welcome to Lord Rent Home Page</h1>
<table class="table">
    <thead>
        <tr>
            <th scope="col">S/N</th>
            <th scope="col">Property Adress</th>
            <th scope="col">Status</th>
            <th scope="col">Registered Tenants</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        <tr>
            <td></td>
        </tr>
    </tbody>
</table>
{%endblock%}