<html>
    <head>
        <title>
            Login
        </title>
        <link rel="stylesheet" href="c:\Users\MOGAJI.PARZIVAL\Documents\Tolu's\static\login.css">
    </head>
    <body>
        <header style="font-family: cursive; filter:blur(0)">
            Log IN
        </header>
        
        <form style="text-align:center;">
            <div>
        <br><br><br><label for="email">E-mail</label>
        <input id="email" name="email" type="email"><br><br>

        <label for="tel">Password</label>
        <input id="tel" name="phone" type="password"><br><br>

        <button>Submit</button>

            </div>
        </form>

    </body>
</html>