{%extends 'base.html' %}

{%block title%}Sign in{%endblock%}

{%block signin_css%}<link rel="stylesheet" href="./static/Sign in.css">{%endblock%}

{%block main_Signin%}

<center>
<div class="container" id="container">
    <div class="form-container sign-up-container">
        <form action="/sign_up" method="POST" id="sign-up">
            <h1>Create Account</h1>
    
            <input type="text" placeholder="First name" name="fname"/>
            <input type="text" placeholder="Surname" name="sname"/>
            <input type="email" placeholder="example@gmail.com" name="email" />
            <input type="password" placeholder="Password" name="password" />
            <button type="submit" name="submit">Sign Up</button>
        </form>
    </div>
    <div class="form-container sign-in-container">
        <form action="/sign_in" method="POST" id="sign-in">
            <h1>Sign in</h1>

            <input type="email" placeholder="Email" name="email"/>
            <input type="password" placeholder="Password" name="password"/>
            <a href="#">Forgot your password?</a>
            <button type="submit" name="submit">Sign In</button>
        </form>
    </div>
    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-left">
                <h1>Welcome Back!</h1>
                <p>Already have an account? Log in here</p>
                <button class="ghost" id="signIn">Sign In</button>
            </div>
            <div class="overlay-panel overlay-right">
                <h1>Hello!</h1>
                <p>Enter your personal details and start journey with us</p>
                <button class="ghost" id="signUp">Sign Up</button>
            </div>
        </div>
    </div>
</div>
</center>

{%endblock%}