{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="first_name">First_name</label>
    <input name="first_name" id="first_name" required>
    <label for="middle_name">Middle_name</label>
    <input name="middle_name" id="middle_name">
    <label for="last_name">Last_name</label>
    <input name="last_name" id="last_name" required>
    <label for="email">Email</label>
    <input name="email" id="email" required>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>
    <label for="status">Are you a Landlord or a Tenant</label><br>
    <select id="status" name="status">
        <option value= "Landlord" >Landlord</option>
        <option value= "Tenant" >Tenant</option>
    </select>
    
    <input type="submit" value="Register">
  </form>
{% endblock %}